

@media (min-width:0px) and (max-width:770px)
{
    #hdr{
        padding:1%;
        margin:-5%;
        background-color: rgb(58, 58, 139);
    }
    #nv{
        padding:1.6%;
        margin:-1.9%;
        background-color: rgb(188, 189, 119);
        transition: background-color 250ms,border-radius 250ms; 
    }
    #nv:hover{
        background-color: brown;
        border-radius: 0.9em;
    }
    
    #nv nav a{

    padding:1.6%;
    color:black;
     margin:0.3em;
     font-size: 1em;
     background-color: blueviolet;
     border-radius:50% ;
     text-decoration: none;
     transition: background-color 250ms, border-radius 250ms;
    } 
    #nv nav a:hover{
        background-color: antiquewhite;
        border-radius: 0.7em;
    }
    #hdr h1{
        font-family: 'Macondo';
        font-size:5em;
    }
    
}

@media (min-width:770px) and (max-width:900px) {
    #hdr{
        padding:1%;
        margin:-3%;
        background-color: rgb(58, 58, 139);
    }
    #nv{
        padding:1%;
        margin: -1%;
        background-color: rgb(188, 189, 119); 
        transition: background-color 250ms,border-radius 250ms; 
    }
    
    #nv:hover{
        background-color: brown;
        border-radius: 0.9em;
    }
    #nv nav a{
        padding:1%;
        color:black;
         margin:0.3em;
         font-size: 1em;
         background-color: blueviolet;
         border-radius:50% ;
         text-decoration: none;
         transition: background-color 250ms, border-radius 250ms;
    
    } 
    #nv nav a:hover{
        background-color: antiquewhite;
        border-radius: 0.7em;
    }
    #hdr h1{
        font-family: 'Macondo';
        font-size:5em;
    }
    
}


@media (min-width:900px) and (max-width:1600px) {
    #hdr{
        padding:1%;
        margin:-5%;
        background-color: rgb(58, 58, 139);
    }
    #nv{
        position:relative;
        top:25px;
        padding:0.8%;
        margin:-1.9%;
        background-color: rgb(188, 189, 119); 
        transition: background-color 250ms,border-radius 250ms; 
    }
    
    #nv:hover{
        background-color: brown;
        border-radius: 0.9em;
    }
    #nv nav a{
        padding:0.8%;
        color:black;
         margin:0.3em;
         font-size: 1em;
         background-color: blueviolet;
         border-radius:50% ;
         text-decoration: none;
         transition: background-color 250ms, border-radius 250ms;
    
    } 
    #nv nav a:hover{
        background-color: antiquewhite;
        border-radius: 0.7em;
    }
    #hdr h1{
        font-family: 'Macondo';
        font-size:5em;
    }
    
}

@media (min-width:1120px){
    #hdr{
        padding:1.8%;
        margin:-5%;
        background-color: rgb(58, 58, 139);
        
    }
    #nv{
        position: relative;
        top:45px;
        padding:-2124.8%;
        margin:-17px;
        background-color: rgb(188, 189, 119); 
        transition: background-color 250ms,border-radius 250ms; 
    }
    
    #nv:hover{
        background-color: brown;
        border-radius: 0.9em;
    }
    #nv nav a{
        padding:0.8%;
        color:black;
         margin:0.3em;
         font-size: 1em;
         background-color: blueviolet;
         border-radius:50% ;
         text-decoration: none;
         transition: background-color 250ms, border-radius 250ms;
    
    } 
    #nv nav a:hover{
        background-color: antiquewhite;
        border-radius: 0.7em;
    }
    #hdr h1{
        font-family: 'Macondo';
        font-size:5em;
    }
}